body {
    transition: background-color 0.5s ease;
}

h1,
h3 {
    color: white;
    text-align: center;
}

textarea,
.output {
    color: black;
    text-align: center;
}

textarea {
    font-size: 25px;
}

input {
    width: 20px;
    height: 20px;
}

#textInput {
    display: none;
    /* hide input field by default */
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode label {
    color: #fff;
}

.dark-mode .form-control {
    background-color: #444;
    color: #fff;
}

.container {
    margin: 0 auto;
    color: white;
    width: 600px;
    font-size: 18px;
}